<%
    #Map the database column names to User readable ones.
    columnNames = {};
    Deviceinfo.columns.map do |col|
       c = col.name.downcase
       case c
       when "macid"
          columnNames[c] = "Device ID"
       when "devicetype"
          columnNames[c] = "Device Type"
       when "operatingsystem"
          columnNames[c] = "Operating System"
       when "osversion"
          columnNames[c] = "OS Version"
       when "deviceclass"
          columnNames[c] = "Device Class"
       when "weight"
          columnNames[c] = "Jailbroken"
       when "dvi"
          columnNames[c] = "DVI"
       when "ipaddr"
          columnNames[c] = "IP Address"
       when "created_at"
          columnNames[c] = "First Seen"
       when "updated_at"
          columnNames[c] = "Last Seen"
       when "auth_source"
          columnNames[c] = "Authorized"
       when "devicename"
          columnNames[c] = "Device Name"
       else
          columnNames[c] = c.capitalize
       end
    end

%>

<style>
   .box-content { overflow: scroll; width: 98%;}
</style>

<div id="content" class="span10">
<!-- content starts -->
			
   <div class="row-fluid sortable">		
      <div class="box span12">
         <%= render :partial => 'layouts/title_bar_icons',
                    :locals => { :header_title => "Device Inventory",
                                 :header_link  => "#" }
         %>
         <div class="box-content">
            <table id="dataTable" class="table table-striped table-bordered bootstrap-datatable">
               <thead>
	                <tr>
                     <% columnNames.keys.each  do | col | %>
	                   <th id="<%= col %>"> <%= columnNames[col] %> </th>
                     <% end %>
	                </tr>
	             </thead>
               
               <tfoot><tr><!-- per column data filters -->
                  <% columnNames.keys.each  do | col | %><th rowspan="1" colspan="1" id="<%= col %>"></th><% end %>
               </tr></tfoot>   

	              <tbody>
                  <% @deviceinfos.each do |deviceinfo| %>
                     <tr>
                     <% columnNames.keys.each do |col| %>
                        <td id="<%= col %>">
                          <% case col %>
                          <% when "macid" %>
                                   <%= link_to deviceinfo[col], :action=> "device_details", :device => deviceinfo[col] %>
                          <% when "weight" %>
                          <%      if ((deviceinfo[col] & 0x00FF0000) > 0) then %> Yes <% else %> No <% end %>
                          <% else %>
                          <%= deviceinfo[col] %>
                          <% end %>
                        </td>
                  <%    end %>
                     </tr>                  
                  <% end %>                  
                </tbody>
            </table>

         </div> <!-- box-content -->
      </div> <!-- box span12 -->
   </div><!-- row-fluid sortable -->
</div><!-- content ends -->

<div class="modal hide fade" id="columnSelectionBox">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"></button>
       <h3>Select Columns</h3>
   </div>
   <div class="modal-body">
       <table>
       <% columnNames.keys.each do |c| %>
           <tr><td><%= columnNames[c] %> </td>
               <td><input data-no-uniform="true" type="checkbox" id="<%= c %>"></td>
           </tr>
       <% end %>
       </table>
   </div>
   <div class="modal-footer">
       <a id="colSelClose" class="btn" data-dismiss="modal">Close</a>
       <a id="colSelSave" class="btn btn-primary">Save changes</a>
   </div>
</div>


<script type="text/javascript">
$(document).ready(function() {

  var oTable = $('#dataTable').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p><R>>",
      "bStateSave": true,
      "bJQueryUI": true,
      "sPaginationType": "bootstrap",
      "oLanguage": {
      "sSearch": "Search all columns: ",
      "sLengthMenu": "_MENU_ records per page"
      }
  } );

  /* Add a select menu for each column in the table footer */
  $("#dataTable tfoot tr th").each( function (i) {
       var colname = $(this).attr('id');

       switch (colname)
       {
       case "macid": // Dont add filters to columns where almost every row has a unique value 
       case "weight":
       case "dvi": 
       case "created_at":
       case "updated_at":
             $(this).html(fnCreateSelect( oTable.fnGetColumnData(i, true, true) )); 
             break;
       default:
              $(this).html(fnCreateSelect( oTable.fnGetColumnData(i) ));
              break;
       }   

       $('select', $(this)).change( function () {
          oTable.fnFilter( $(this).val(), i);
       } );
  });

  //Display only those columns that the user desires (stored in a cookie).
  function ShowColumns() {
     var cookieValue = $.cookie('displayColumns');
     if ((cookieValue != null) && (cookieValue.length > 0)) {
        cookieValue = cookieValue.split(',');
     }

     var i=0;
     <% columnNames.keys.each do |col|  %>
        var bVis = false;
        if ((cookieValue != null) && (cookieValue.length > 0))  {
           bVis = (cookieValue.indexOf('<%= col %>') > -1);
        } else {
           bVis = true; //If there is no cookie, by default show all columns...
        }

        oTable.fnSetColumnVis(i, bVis); i++;
     <% end %>      
  }


  //Dialog box letting the user select which columns to display
  $('#columnSelectionBox').on('shown', function() {
     var cookieValue = $.cookie('displayColumns');
     if ((cookieValue != null) && (cookieValue.length > 0)) {
        cookieValue = cookieValue.split(',');

        $('#columnSelectionBox table td input:checkbox').each(function() {
            if (cookieValue.indexOf($(this).attr('id')) > -1) {
               $(this).prop('checked', true);
            } else {
               $(this).prop('checked', false);
            }
        });
     } else {
        //If there is no cookie indicating which columns to display, then by default all columns are shown and hence check'em all...
        $('#columnSelectionBox table td input:checkbox').each(function() {
            $(this).prop('checked', true);
        });
     }
  });
  $('.btn-setting').click(function(e){
    e.preventDefault();
    $('#columnSelectionBox').modal('show');
  });

  $('#colSelSave').click(function() {
     var visibleCols = [];
     $('#columnSelectionBox input:checkbox').each(function() {
        if ($(this).attr('checked')) {
            visibleCols.push($(this).attr('id').toLowerCase());
        }
     });
     
     $.cookie("displayColumns", visibleCols, { expires : 10 });
     ShowColumns();

     $('#columnSelectionBox').modal('hide');

  }); 

  ShowColumns();
});
</script>
